@import "tailwindcss";
@plugin "daisyui";

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-appear {
    animation: slideUpFade 0.4s ease-out forwards;
}